.form-item{
  display: flex;
  width: 400px;
  justify-content: center;
  margin:0.5rem 0;
  label{
    width: 100px;
    overflow: hidden;
  }
  .viking-form-item-explain {
    
    line-height: 25px;
    color: $danger;
  }
  .input-error{
    input{
      border: 1px solid $danger;
          &:focus {
            box-shadow: $input-focus-box-shadow-error;
          }
    }
  }
}