.tabs{
  position: relative;
  width:100%;
  padding:$nav-link-padding-y $nav-link-padding-x;
  .tab-label{
    box-sizing: border-box;
    display: flex;
    border-bottom: $nav-tabs-border-color $nav-tabs-border-width solid;
    height: 2.5rem;
    
    .each-label{
      padding: $nav-link-padding-y $nav-link-padding-x;
      box-sizing: border-box;
      &:hover{
        cursor: pointer;
        border-bottom: 0.2rem $purple solid;
      }
      &.active{
        border-bottom: 0.2rem $purple solid;
      }
      &.disable{
        color:$btn-link-disabled-color;
        pointer-events: none;
        cursor:default
      }
    }
  }
}
.tab-item.tabContext-notshow{
  
    display: none!important;
  
}
.tab-item{
  padding: $nav-tabs-content-margin;
  
}