.fileList{
  padding: 0;
  li{
    transition: all .5s cubic-bezier(.55,0,.1,1);
    width: 200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    &:first-child {
         margin-top: 10px;
      }
    .fileName{
      width: 6rem;
      overflow: hidden;        /*内容会被修剪，并且其余内容是不可见的*/
    text-overflow:ellipsis;  /*显示省略符号来代表被修剪的文本。*/
    white-space: nowrap;     /*文本不换行*/
    }
    .removeIcon{
      display: none;
    }
    .statusIcon{
      display: block;
    }

    &:hover{
      background-color: $gray-400;
      border-radius: 5px;
      .statusIcon{
        display: none;
      }
      .removeIcon{
        display: block;
      }
    }
  }
}