.alert{
  position: fixed;
  top:0;
  left:50%;
  // transform: translate(-50%,0);
  padding: $alert-padding-y $alert-padding-x ;
  max-width: $alert-width;
  display: flex;
  justify-content: space-around;
  z-index: $top-z-index;
  .title{
    font-weight: $alert-title-font-weight;
    margin-bottom: $alert-description-top-margin;
    
    max-width: $alert-width;
  }
  .content{
    font-size: $alert-description-font-size;
    font-weight: 600;
    
    max-width: $alert-width;
    word-break: break-all; 
    //只对英文起作用，以单词作为换行依据
    word-wrap: break-word; 
    //只对中文起作用，强制换行
    white-space: pre-wrap;
  }
  
  
}

.alert-default{
  @include alert-style($indigo,$white)

}

.alert-success{
  @include alert-style($teal,$white)

}
.alert-danger{
  @include alert-style($red,$white)

}
.alert-warning{
  @include alert-style($yellow,$white)

}
// /*入场动画开始*/
// .fade-enter {
//   opacity: 0;
// }
 
// /*入场动画过程*/
// .fade-enter-active {
//   opacity: 1;
//   transition: opacity 0.5s ease-in;
// }
 
// /*入场动画结束*/
// .fade-enter-done {
//   opacity: 1;
// }
 
// /*离场动画开始*/
// .fade-exit {
//   opacity: 1;
// }
 
// /*离场动画过程*/
// .fade-exit-active {
//   opacity: 0;
//   transition: opacity 0.5s ease-in;
// }
 
// /*离场动画结束*/
// .fade-exit-done {
//   opacity: 0;
// }
 
// /*页面第一次加载时的开始状态*/
// .fade-appear {
//   opacity: 0;
// }
 
// /*页面第一次加载时的动画过程*/
// .fade-appear-active {
//   opacity: 1;
//   transition: opacity 0.5s ease-in;
// }